.calendar-container {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.calendar-navi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 4em;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.week-day {
  appearance: none;
  background: none;
  min-width: 2.5em;
  font-size: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding: 0.4em 0.25em 0.1em 0.25em;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 0.1em;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
}

.calendar-day {
  min-width: 3em;
  max-width: 4em;
  font-size: 1em;
  height: 4em;
  border: 2px solid transparent;
  color: rgb(11, 176, 182);
  background-color: rgba(112, 176, 182, 0.1);
  text-align: start;
  vertical-align: initial;
}
.calendar-day:hover {
  border: 2px solid transparent;
  color: rgb(182, 11, 25);
  background-color: rgba(197, 94, 26, 0.233);
  cursor: pointer;
}

.empty {
  border: 2px solid transparent;
  color: rgb(83, 82, 82);
  background-color: rgba(1, 76, 82, 0.1);
}
.empty:hover {
  border: 2px solid transparent;
  color: rgb(83, 82, 82);
  background-color: rgba(1, 76, 82, 0.1);
  cursor: default;
}

.today {
  border: 2px solid;
  background-color: rgba(1, 76, 82, 0.15);
}

.spanDay {
  width: 100%;
  height: 1.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.reminds {
  overflow: hidden;
  overflow: auto;
  width: 100%;
  height: 3em;
  flex: 1;
  display: flex;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.spanRemind {
  display: inline-block;
  min-height: min-content;
  width: 95%;
  margin: 1px auto;
  border-radius: 3px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.6em;
  color: black;
  cursor: default;
}
.home {
  background-color: rgba(237, 64, 64, 0.637);
}

.work {
  background-color: rgba(80, 230, 113, 0.637);
}

.calendar {
  background-color: rgba(128, 206, 237, 0.637);
}

p.text-reminder {
  margin: 1px 0;
  white-space: nowrap;
  max-width: 90%;
  overflow: auto;
  display: inline-flex;
  align-items: center;
}
.forecast-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forecast-button {
  background-color: rgb(11, 176, 182);
  border: 1px solid #555555;
  border-radius: 3px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  margin: 2px 0.5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.forecast-button:hover {
  background-color: #555555;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 0.3em;
}

/* width */
::-webkit-scrollbar {
  height: 0.3em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(11, 176, 182);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(6, 121, 156);
}
